<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <!-- NAVIGATION -->
    <%- include('./nav'); %>

    <div class="container">
      <h1>-- Contest/ Product Details -- <%= contest_details.con_id %></h1>
      <button>
        <a
          href="/contest/orderSpot/<%= `${'admin'}/${contest_details.con_id}/${contest_details.product_id}`%>"
          >Add to Cart</a
        >
      </button>

      <p>con_id:<span class="value"> <%= contest_details.con_id %></span></p>
      <p>product_id:<span class="value"> <%= contest_details.product_id %></span></p>
      <p>con_status:<span class="value"> <%= contest_details.con_status %></span></p>
      <p>con_spots:<span class="value"> <%= contest_details.con_spots %></span></p>
      <p>con_startdate:<span class="value"> <%= contest_details.con_startdate %></span></p>
      <p>con_enddate:<span class="value"> <%= contest_details.con_enddate %></span></p>
      <p>con_win:<span class="value"> <%= contest_details.con_win %></span></p>
      <p>con_discription:<span class="value"> <%= contest_details.con_discription %></span></p>
      <img
        src="/images/contest_cover/<%= contest_details.con_thumbnails %>"
        width="100px"
        height="100px"
      />
      <!-- <p>con_thumbnails: <span class="value"> <%= contest_details.con_thumbnails %></span></p> -->
      <!-- <p>con_winner: <span class="value"> <%= contest_details.con_winner %></span></p> -->
      <!-- <p>con_winnerCoupen: <span class="value"> <%= contest_details.con_winnerCoupen %></span></p> -->
      <p>pr_id: <span class="value"> <%= contest_details.pr_id %></span></p>
      <p>pr_name: <span class="value"> <%= contest_details.pr_name %></span></p>
      <p>pr_price: <span class="value"> <%= contest_details.pr_price %></span></p>
      <p>pr_discription: <span class="value"> <%= contest_details.pr_discription %></span></p>
      <img
        src="/images/products/<%= contest_details.pr_thumbnails %>"
        width="100px"
        height="100px"
      />
      <!-- <p>pr_thumbnails: <%= contest_details.pr_thumbnails %></p> -->
    </div>
  </body>

  <style>
    body {
      /* display: flex; 
    justify-content: center; */
      font-family: "Roboto Condensed", sans-serif;
    }
    .container {
      width: 50%;
      margin: auto;
    }
    button a {
      color: #fff;
    }
    button {
      background-color: rgb(24, 24, 24);
      color: aliceblue;
      margin: 15px;
      padding: 15px;
      border: 0px;
      width: 100%;
    }

    button:hover {
      border: 2px solid #000;
    }
    .value{
      font-weight: 600;
    }
  </style>
</html>
